{
  "installedESLint": true,
  "extends": "standard",
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "module"
  },
  "plugins": [
    "standard",
    "node"
  ]
}